:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html{
  background-color: var(--mint-80)
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 3.5rem;
}

.display {
  font-size: 4rem;
  text-align: center;
  display: flex;
  max-width: 350px;
  width: 350px;
  height: 80px;
  background-color: var(--mint-10);
  border: 1px solid var(--mint-80);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 5px;
  color: #000;
  text-align: center;
  font-weight: 700;
}

.number {
  background-color: var(--mint-40);
}

.operator,
.del,
.decimal,
.equals,
#clear {
  background-color: var(--mint-20);
}

#del {
  width: 170px;
  height: 80px;
}
#zero {
  width: 170px;
}


button:disabled {
  background-color: var(--mint-10);
  color: #fff;
}

row {
  display: flex;
  gap: 10px;
}
